$loading-pacman-duration: 1s;
$generic-duration: 0.5s;
$blue: #2121FF;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
}

#overflow-mask {
  position: relative;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
  touch-action: manipulation;
}

#backdrop {
  position: absolute;
  visibility: hidden;
}

#fps-display {
  margin: 10px 0 0 10px;
  position: absolute;
}

#preload-div {
  visibility: hidden;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: baseline;
  position: absolute;
  bottom: 0;
}

.loading-cover {
  position: absolute;
  height: 100vh;
  width: 50vw;
  top: 0;
  z-index: 4;
  background: #FFDF00;
}

.left {
  left: 0;
  transition: left $generic-duration ($generic-duration);
}

.right {
  right: 0;
  transition: right $generic-duration ($generic-duration);
}

#main-menu-container {
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

#logo {
  height: 200px;
  margin-top: 25vh;
}

#game-start {
  background-color: #FCC73F;
  color: #231F20;
  font-size: 48px;
  border-radius: 10px;
  border: 5px solid #231F20;
  padding: 16px;
  box-shadow: 5px 5px #EE2A29;
  outline: none;
  cursor: pointer;
}

#game-start:active {
  transform: translateX(5px) translateY(5px);
  box-shadow: none;
}

#game-start:disabled {
  cursor: default;
}

#loading-container {
  position: absolute;
  transition: opacity $generic-duration $loading-pacman-duration;
  top: 50%;
  left: 50%;
  height: 48px;
  width: 500px;
  transform: translateX(-50%) translateY(-50%);
  background-color: black;
  border-radius: 10px;
  border: 5px solid #0235FF;
  z-index: 5;
}

#loading-pacman {
  position: absolute;
  transition: left $loading-pacman-duration;
  height: 48px;
  width: 48px;
  border-radius: 10px;
  background-color: black;
  background-size: 192px;
  background-image: url('../app/style/graphics/spriteSheets/characters/pacman/pacman_right.svg');
  animation: loading-animation 0.3s steps(4) infinite;
  z-index: 6;
}

@keyframes loading-animation {
  100% { background-position: -192px };
}

#loading-dot-mask {
  position: absolute;
  transition: width $loading-pacman-duration;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: black;
  height: 48px;
  z-index: -1;
}

.loading-dot {
  position: absolute;
  height: 6px;
  width: 6px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../app/style/graphics/spriteSheets/pickups/pacdot.svg);
  z-index: -2;
}

._5{ left: 5%; }
._10 { left: 10%; }
._15 { left: 15%; }
._20 { left: 20%; }
._25 { left: 25%; }
._30 { left: 30%; }
._35 { left: 35%; }
._40 { left: 40%; }
._45 { left: 45%; }
._50 { left: 50%; }
._55 { left: 55%; }
._60 { left: 60%; }
._65 { left: 65%; }
._70 { left: 70%; }
._75 { left: 75%; }
._80 { left: 80%; }
._85 { left: 85%; }
._90 { left: 90%; }
._95 { left: 95%; }

#dev-message {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 10px;
}

#movement-buttons {
  position: fixed;
  bottom: 0;
  height: 34%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: -3px;
  }

  button {
    background: transparent;
    color: $blue;
    padding: 0;
    border: 3px solid $blue;
    border-radius: 5px;
    height: 7vh;
    outline: none;
    user-select: none;
  }

  button:active {
    background: radial-gradient(
      closest-side, rgba(255, 255, 255, 0.25), transparent,
    );
  }

  #button-up {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #button-left {
    margin-right: calc(7vh - 6px);
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #button-right {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #button-down {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .material-icons {
    font-size: 7vh;
    margin: -3px;
  }
}

@media (orientation: landscape) {
  #movement-buttons {
    visibility: hidden;
  }
}
