#maze-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media (orientation: landscape) {
  #maze-container {
    height: 100%;
  }
}

@media (orientation: portrait) {
  #maze-container {
    height: 66%;
  }
}

#maze-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 3;
  visibility: hidden;
}

#maze {
  margin: 0 auto;
  position: relative;
}

#maze-img {
  position: absolute;
  user-select: none;
  width: 100%;
}

.maze-row {
  display: flex;
}