#maze-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#maze-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 100;
  visibility: hidden;
}

#maze {
    margin: 0 auto;
    position: relative;
}

.maze-row {
    display: flex;
}