@import 'variables';

.maze-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (orientation: landscape) {
  .maze-container {
    height: 100%;
  }
}

@media (orientation: portrait) {
  .maze-container {
    height: 66%;
  }
}

.maze-cover {
  background: $black;
  height: 100%;
  position: absolute;
  visibility: hidden;
  width: 100%;
  z-index: 3;
}

.maze {
  margin: 0 auto;
  position: relative;
}

.maze-img {
  position: absolute;
  user-select: none;
  width: 100%;
}

.maze-row {
  display: flex;
}
