#pacman {
    background: url(../app/style/graphics/spriteSheets/characters/pacman/pacman_right.svg);
    position: absolute;
}

#fpsDisplay {
    position: absolute;
    top: 200px;
    left: 10px;
}