#pacman {
    height: 128px;
    width: 128px;
    background: url(../app/style/graphics/spriteSheets/characters/pacman/pacman_right.svg);
    background-size: 512px;
}

#fpsDisplay {
    position: absolute;
    top: 200px;
    left: 10px;
}